[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
pytest = "*"
passlib = "*"
argon2-cffi = "*"
alembic = "*"
simple-term-menu = "*"

[dev-packages]

[requires]
python_version = "3.10"
